@import '../settings/colors';
@import '../settings/dimensions';
@import '../settings/fonts';

.trend-list {
  h3, ul{ margin: 0; padding: 0; }
  h3 {
    margin-bottom: 2*$page-padding;
    font-size: 1.8em;
  }
  li {
    margin: .5 *$page-padding; list-style-type: none;
    font-weight: $fw-semibold;

    button { color: $dark-blue; }
    button:hover { color: $blue; }
  }
}
